{% extends "layout2.html" %}
{% block body %}
  .answer {
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
    width: 95%;
    margin: 5px auto;
    padding: 10px;
    border-radius: 20px;
  }
</style>
<meta name="description" content="{{ question.post[:150] }}">
<link rel="canonical" href="{{ path }}">
<meta name="robots" content="index, follow">
</head>

<body>
  <div class="container-fluid navlol">
    <div class="navbar-header mynav">
      <a class='tlink' href="/home"><img src="{{ url_for('static', filename='logo.png') }}"
          style="width: auto; height: 40px;" alt="Logo" /><strong> Help4You</strong></a>
    </div>
    <form class="navbar-form navbar-right noborder">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search is in construction" name="search">
        <div class="input-group-btn">
          <button type="submit" class="search"><svg style="height: 36px; width: 21px;"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg></button>
        </div>
        {% if current_user.is_authenticated %}
        <div class="dropdown" style="cursor: pointer;">
          <div style="display: inline-block; margin-left: 20px;" class="dropdown-toggle" data-bs-toggle="dropdown">
            <img alt='Your profile pic.' loading="lazy" src=" {{ current_user.profile_pic }} " style="border-radius: 50%;" height="32" width="32" />
          </div>
          <ul class="dropdown-menu mydrop fadeIn" aria-labelledby="dropdownMenu">
            <li><a class="dropdown-item myitem" href="/account/{{ current_user.username }}">Account</a></li>
            <li><a class="dropdown-item myitem" href="/settings">Settings</a></li>
            <li><a class="dropdown-item myitem" href="/logout">Log Out</a></li>
          </ul>
        </div>{% endif %}
      </div>
    </form>
  </div>
  {% if not current_user.is_authenticated %}
  <div class="alert alert-info" style="width: 95%; margin:5px auto; border-radius: 20px;" role="alert">
    Log in to give answer. <a href="/signup"><button type="button" class="btn btn-success">Log In</button></a>
  </div>{% endif %}
  <div class="card post">
    <h4 class="card-header" style="border-bottom: black solid 1px;">
      {% for user in users %}{% if user.sno == question.user %}<a style="text-decoration: none; color: inherit;" href="/account/{{ user.username }}">
      <img alt="User's profile pic." loading="lazy" src=" {{ user.profile_pic }} " style="border-radius: 50%;" height="50" width="50" /> {{ user.first_name }} {{
      user.last_name }}</a> &bull; {{ question.subject }} &bull;
      {% set qtime = time|int-question.time|int %}
      {% if qtime < 60 %} {{ qtime|int }} Seconds {% elif qtime < 3600 %} {{ (qtime/60)|int }} Minutes {% elif qtime <
        86400 %} {{ (qtime/3600)|int }} Hours {% elif qtime < 2628288 %} {{ (qtime/86400)|int }} Days {% elif qtime <
        31536000 %} {{ (qtime/2628288)|int }} Months {% else %} {{ (qtime/31536000)|int }} Years {% endif %} Ago {%
        endif %}{% endfor %} </h4>
        <div class="card-body">
          {% if question.piclink %}<a href="{{ question.piclink }}">
          <img src="{{ question.piclink }}" loading="lazy" style="width: 100%;" alt="{{ question.post }}"></a><br><br>{% endif %}
          <h3 class="card-title">{% for line in question.post.splitlines() %}{{ line }}<br>{% endfor %}</h3>
          <p class="card-text"><strong> Grade: {{ question.grade }}</strong></p>
          {% if current_user.is_authenticated %}
          <form action="/answer/{{ sno }}" method="POST" enctype="multipart/form-data">
            <div class="row row-space">
              <label style="cursor: pointer;">
                <input style='display:none;' type="file" accept="image/*"
                  onchange="document.getElementById('upload').src = window.URL.createObjectURL(this.files[0]);
                  document.getElementById('upload').style.width = '100%';" name="file"
                  id='file' />
                <div style="position: relative; left: 0; top: 0;">
                  <img src="{{ url_for('static', filename='images/upload.png') }}"
                    style="width:100px; margin: 0 auto; display: block;" id="upload" alt="Logo" />
                </div>
              </label>
            </div>
            <h4 class="title" style="text-align: center; margin-bottom: 0;">Upload Answer Image</h4>
            <p style="text-align: center;">(Optional)</p><br>
            <div class="form-group">
              <label for="answer" style="font-size: 20px;"><strong>Enter your answer here:
                </strong></label><br>
              <textarea class="form-control" id="answer" name="answer" rows="5"
                style="resize: vertical; font-size: 23px;" required></textarea>
            </div><br>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>{% endif %}
        </div>
  </div><br>
  <h2 class="card-title" style="margin-left: 3%;"><strong>Answers: </strong></h2>
  {% for answer in answers.items %}
  <div class="card answer" id="{{ answer.sno }}">
    <h4 class="card-header">
      {% for user in users %}{% if user.sno == answer.user %}<a style="text-decoration: none; color: inherit;" href="/account/{{ user.username }}">
      <img alt="User's profile pic." src=" {{ user.profile_pic }} " style="border-radius: 50%;" height="50" width="50" /> {{ user.first_name
      }} {{
      user.last_name }}</a> &bull;
      {% set qtime = time|int-answer.time|int %}
      {% if qtime < 60 %} {{ qtime|int }} Seconds {% elif qtime < 3600 %} {{ (qtime/60)|int }} Minutes {% elif qtime <
        86400 %} {{ (qtime/3600)|int }} Hours {% elif qtime < 2628288 %} {{ (qtime/86400)|int }} Days {% elif qtime <
        31536000 %} {{ (qtime/2628288)|int }} Months {% else %} {{ (qtime/31536000)|int }} Years {% endif %} Ago {%
        endif %}{% endfor %} </h4>
        <div class="card-body">
          {% if answer.piclink %}<a href="{{ answer.piclink }}">
          <img src="{{ answer.piclink }}" style="width: 100%;" alt="{{ answer.answer }}"></a><br><br>{% endif %}
          <h4 class="card-title">{% for line in answer.answer.splitlines() %}{{ line }}<br>{%
            endfor %}</h4>
        </div>
  </div>
  {% endfor %}
  <div style="text-align: center;">
    {% for page_num in answers.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
    {% if page_num == answers.page %}
    <a class="btn btn-primary" href="#">{{ page_num }}</a>
    {% else %}
    <a class="btn btn-outline-primary" href="{{ url_for('answer', sno=question.sno, page=page_num) }}">{{ page_num }}</a>
    {% endif %}
    {% else %}
    ...
    {% endif %}
    {% endfor %}
  </div>
  {% endblock %}