{% extends "layout2.html" %}
{% block body %}
.dbox {
display: none;
position: fixed;
z-index: 1;
padding-top: 100px;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.4);
}

.dbox-content {
height: 80%;
background-color: #5de6de;
background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%);
border-radius: 15px;
overflow: auto;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
}

.quit {
color: #d505ff;
float: right;
font-size: 28px;
font-weight: bold;
}

.quit:hover,
.quit:focus {
color: rgb(140, 7, 250);
text-decoration: none;
cursor: pointer;
}

.float {
position: fixed;
border: none;
width: 60px;
height: 60px;
bottom: 40px;
right: 40px;
background-color: #0C9;
color: #FFF;
border-radius: 50px;
text-align: center;
box-shadow: 2px 2px 3px rgb(0, 0, 0);
}

.question {
position: fixed;
width: 130px;
height: auto;
bottom: 60px;
right: 110px;
background-color: #0C9;
color: #FFF;
border-radius: 20px;
text-align: center;
box-shadow: 2px 2px 3px rgb(0, 0, 0);
}
.plink{

}
</style>
</head>

<body>
  <div id="mydbox" class="dbox">
    <div class="dbox-content">
      <span class="quit">&times;</span><br>
      <form method="POST" action="/home" enctype="multipart/form-data">
        <div class="row row-space">
          <label style="cursor: pointer;">
            <input style='display:none;' type="file" accept="image/*"
              onchange="document.getElementById('upload').src = window.URL.createObjectURL(this.files[0]);
              document.getElementById('upload').style.width = '100%';" name="file"
              id='file' />
            <div style="position: relative; left: 0; top: 0;">
              <img src="{{ url_for('static', filename='images/upload.png') }}"
                style="width:100px; margin: 0 auto; display: block;" id="upload" alt="Logo" />
            </div>
          </label>
        </div>
        <h4 class="title" style="text-align: center; margin-bottom: 0;">Upload Question Image</h4>
        <p style="text-align: center;">(Optional)</p><br><br>
        <div class="form-group">
          <label for="subject">Select Subject:</label>
          <select class="form-select" id="subject" name="subject" required>
            <option disabled selected value="">Select Subject</option>
            <option value="Maths">Maths</option>
            <option value="Physics">Physics</option>
            <option value="Chemistry">Chemistry</option>
            <option value="Biology">Biology</option>
            <option value="English">English</option>
            <option value="Hindi">Hindi</option>
            <option value="Sanskrit">Sanskrit</option>
            <option value="Social Science">Social Science</option>
            <option value="History">History</option>
            <option value="Geography">Geography</option>
            <option value="Civics">Political Science</option>
            <option value="Economics">Economics</option>
            <option value="Environmental Science">Environmental Science</option>
            <option value="Science">Science</option>
            <option value="Computer Science">Computer Science</option>
            <option value="Labguage">Language</option>
            <option value="Art">Art</option>
            <option value="Music">Music</option>
            <option value="Commerce">Commerce</option>
            <option value="Technology">Technology</option>
            <option value="Other">Other</option>
          </select>
        </div>
        <div class="form-group">
          <label for="grade">Select Grade:</label>
          <select class="form-select" id="grade" name="grade" required>
            <option disabled selected value="">Select Grade</option>
            <option value="Nursury to UKG">Nursury to UKG</option>
            <option value="1 to 5">1 to 5</option>
            <option value="6 to 8">6 to 8</option>
            <option value="9 & 10">9 & 10</option>
            <option value="11 & 12">11 & 12</option>
            <option value="Higher Level">Higher Level</option>
          </select>
        </div>
        <div class="form-group">
          <label for="question">Your Question</label>
          <textarea class="form-control" id="question" name="question" rows="5"
            style="resize: vertical; font-size: 18px;" required></textarea>
        </div><br>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
  <div class="container-fluid navlol">
    <div class="navbar-header mynav">
      <a class='tlink' href="/home"><img src="{{ url_for('static', filename='logo.png') }}"
          style="width: auto; height: 40px;" alt="Logo" /><strong> Help4You</strong></a>
    </div>
    <form class="navbar-form navbar-right noborder">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search is in construction" name="search">
        <div class="input-group-btn">
          <button type="submit" class="search"><svg style="height: 36px; width: 21px;"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg></button>
        </div>
        <div class="dropdown" style="cursor: pointer;">
          <div style="display: inline-block; margin-left: 20px;" class="dropdown-toggle" data-bs-toggle="dropdown">
            <img alt='Your profile pic.' loading="lazy" src=" {{ current_user.profile_pic }} " style="border-radius: 50%;" height="32"
              width="32" />
          </div>
          <ul class="dropdown-menu mydrop fadeIn" aria-labelledby="dropdownMenu">
            <li><a class="dropdown-item myitem" href="/account/{{ current_user.username }}">Account</a></li>
            <li><a class="dropdown-item myitem" href="/settings">Settings</a></li>
            <li><a class="dropdown-item myitem" href="/logout">Log Out</a></li>
          </ul>
        </div>

      </div>
    </form>
  </div>
  {% for question in questions.items %}
  <div class="card post">
    <h4 class="card-header">
      {% for user in users %}{% if user.sno == question.user %}<a style="text-decoration: none; color: inherit;"
        href="/account/{{ user.username }}">
        <img alt="User's profile pic." loading="lazy" src=" {{ user.profile_pic }} " style="border-radius: 50%;" height="50"
          width="50" /> {{ user.first_name }} {{
        user.last_name }}</a> &bull; {{ question.subject }} &bull;
      {% set qtime = time|int-question.time|int %}
      {% if qtime < 60 %} {{ qtime|int }} Seconds {% elif qtime < 3600 %} {{ (qtime/60)|int }} Minutes {% elif qtime <
        86400 %} {{ (qtime/3600)|int }} Hours {% elif qtime < 2628288 %} {{ (qtime/86400)|int }} Days {% elif qtime <
        31536000 %} {{ (qtime/2628288)|int }} Months {% else %} {{ (qtime/31536000)|int }} Years {% endif %} Ago {%
        endif %}{% endfor %} </h4>
        <div class="card-body">
          {% if question.piclink %}<a href="{{ question.piclink }}">
          <img src="{{ question.piclink }}" loading="lazy" style="width: 100%;" alt="{{ question.post }}"></a><br><br>{% endif %}
          <h3 class="card-title">{% for line in question.post[:150].splitlines() %}{{ line }}<br>{% endfor %}{% if
            question.post|length>150 %}.....{% endif %}</h3>
          <p class="card-text"><strong> Grade: {{ question.grade }}</strong></p>
          <a href="/answer/{{ question.sno }}" class="btn btn-primary">Answer this question</a>
        </div>
  </div>
  {% endfor %}<br>
  <div style="text-align: center;">
    {% for page_num in questions.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
    {% if page_num == questions.page %}
    <a class="btn btn-primary" href="#">{{ page_num }}</a>
    {% else %}
    <a class="btn btn-outline-primary" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
    {% endif %}
    {% else %}
    ...
    {% endif %}
    {% endfor %}
  </div>
  <div class='question'>Ask your question</div>
  <button id='myBtn' class="float">
    <svg xmlns="http://www.w3.org/2000/svg" width="50%" height="auto" fill="currentColor" class="bi bi-plus"
      viewBox="0 0 16 16">
      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
    </svg>
  </button>
  <script>
    var dbox = document.getElementById("mydbox");
    var btn = document.getElementById("myBtn");
    var span = document.getElementsByClassName("quit")[0];

    btn.onclick = function () {
      dbox.style.display = "block";
    }

    span.onclick = function () {
      dbox.style.display = "none";
    }

    window.onclick = function (event) {
      if (event.target == dbox) {
        dbox.style.display = "none";
      }
    }
  </script>
  {% endblock %}