<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Help4you Website">
    <meta name="author" content="Techno Pustak">
    <meta name="keywords" content="study, technology, social, techno pustak, coding, education">

    <title>{{ title }}</title>

    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" media="all">
    <script src="{{ url_for('static', filename='js/global.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
{% block body %} {% endblock %}