<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="{{ title }}">
    <meta name="description" content="{{ params['description'] }}">
    <meta name="author" content="{{ params['author'] }}">
    <meta name="keywords" content="{{ params['keywords'] }}">

    <!-- Title Page-->
    <title>{{ title }}</title>
    <link rel="icon" href="{{ url_for('static', filename='logo.ico') }}" type='ico/img'>

    <!-- Icons font CSS-->
    <link href="/static/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Font special for pages-->
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="/static/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/static/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/static/css/main.css" rel="stylesheet" media="all">

</head>

<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <h1 class="title" style="color:rgba(192, 7, 248, 0.925); text-align:center;"><strong>{{
                            params['title'] }}<br> -- Beta Version</strong></h1>
                    <img src="{{ url_for('static', filename='logo.png') }}"
                        style="width:100px; margin: 0 auto; display: block;" id="icon" alt="Logo" /><br>
                    <h2 class="title" style="text-align: center;">{{ title }}</h2>
                    <h3 class="title">The website where you can ask questions and give answers about homeworks, study,
                        or any other problems.</h3>
                    <form method="POST" action="/signup">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Username</label>
                                    <input class="input--style-4" type="text" name="username" id="username" required>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Email</label>
                                    <input class="input--style-4" type="email" name="email" id="email" required>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">first name</label>
                                    <input class="input--style-4" type="text" name="first_name" id="first_name"
                                        required>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">last name</label>
                                    <input class="input--style-4" type="text" name="last_name" id="last_name" required>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Birthday</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4 js-datepicker" type="text" name="birthday"
                                            id="birthday" required>
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Gender</label>
                                    <div class="p-t-10">
                                        <label class="radio-container m-r-45">Male
                                            <input type="radio" checked="checked" name="gender" id="gender" value="male"
                                                required>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container">Female
                                            <input type="radio" name="gender" id='gender' value="female" required>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">password</label>
                                    <input class="input--style-4" type="password" name="password" id="password"
                                        required>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">repeat password</label>
                                    <input class="input--style-4" type="password" name="rpassword" id="rpassword"
                                        required>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="form-group" style="flex: 0 0 100%;">
                                <label for="about" class="label">About: </label>
                                <textarea style="resize: vertical;" class="mytext"
                                    placeholder="Give a little decription about you" class="form-control" name="about"
                                    id="about" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                        </div>
                    </form><br>
                    <a href='/login'><button
                            style='cursor: pointer; border-radius: 4px; background-color: #008CBA; font-size: 20px; padding: 12px 28px;'>Already
                            Have an Account</button></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Jquery JS-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="/static/vendor/datepicker/moment.min.js"></script>
    <script src="/static/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="/static/js/global.js"></script>
</body>

</html>